<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ productId ? "Update" : "Add" }} Products</h5>
    </div>
    <form [formGroup]="productForm" (ngSubmit)="submitProduct()" class="h-100">
      <div class="modal-body">
        <div class="row gy-3">
          <!-- Product Code -->
          <div class="col-6">
            <label for="pCode" class="required">Product Code</label>
            <input
              type="text"
              id="pCode"
              class="form-control form-control-lg"
              placeholder="Product Code"
              formControlName="pCode"
              appNumberOnly
            />
            @if(isSubmitted && productForm.controls['pCode'].errors &&
            productForm.controls['pCode'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Product Code.
            </label>
            }
          </div>
          <!-- Product Name -->
          <div class="col-6">
            <label for="productName" class="required">Product Name</label>
            <input
              type="text"
              id="productName"
              class="form-control form-control-lg"
              placeholder="Product Name"
              formControlName="productName"
            />
            @if(isSubmitted && productForm.controls['productName'].errors &&
            productForm.controls['productName'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Product Name.
            </label>
            }
          </div>
          <!-- Make -->
          <div class="col-6">
            <label for="make" class="required">Make</label>
            <input
              type="text"
              id="make"
              class="form-control form-control-lg"
              placeholder="Make"
              formControlName="make"
              appAlphaNumeric
            />
            @if(isSubmitted && productForm.controls['make'].errors &&
            productForm.controls['make'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Make.
            </label>
            }
          </div>
          <!-- Pack -->
          <div class="col-6">
            <label for="pack" class="required">Pack</label>
            <input
              type="text"
              id="pack"
              class="form-control form-control-lg"
              placeholder="Pack"
              formControlName="pack"
              appAlphaNumeric
              [allowNumbers]="true"
            />
            @if(isSubmitted && productForm.controls['pack'].errors &&
            productForm.controls['pack'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Pack.
            </label>
            }
          </div>
          <!-- Unit -->
          <div class="col-6">
            <label for="unit" class="required">Unit</label>
            <input
              type="text"
              id="unit"
              class="form-control form-control-lg"
              placeholder="Unit"
              formControlName="unit"
              appAlphaNumeric
            />
            @if(isSubmitted && productForm.controls['unit'].errors &&
            productForm.controls['unit'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Unit.
            </label>
            }
          </div>
          <!-- Quantity -->
          <div class="col-6">
            <label for="qty" class="required">Quantity</label>
            <input
              type="text"
              id="qty"
              class="form-control form-control-lg"
              placeholder="Quantity"
              formControlName="qty"
              appNumberOnly
            />
            @if(isSubmitted && productForm.controls['qty'].errors &&
            productForm.controls['qty'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Quantity.
            </label>
            }
          </div>
          <!-- PTR -->
          <div class="col-6">
            <label for="ptr" class="required">PTR</label>
            <input
              type="text"
              id="ptr"
              class="form-control form-control-lg"
              placeholder="PTR"
              formControlName="ptr"
              appNumberOnly
            />
            @if(isSubmitted && productForm.controls['ptr'].errors &&
            productForm.controls['ptr'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for PTR.
            </label>
            }
          </div>
          <!-- Value -->
          <div class="col-6">
            <label for="value" class="required">Value</label>
            <input
              type="text"
              id="value"
              class="form-control form-control-lg"
              placeholder="Value"
              formControlName="value"
              appNumberOnly
            />
            @if(isSubmitted && productForm.controls['value'].errors &&
            productForm.controls['value'].errors['required']){
            <label for="" class="text-danger">
              Please enter value for Value.
            </label>
            }
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-center gap-2 w-100">
          <!-- Action Button -->
          <div class="col-12">
            <div class="my-4 row justify-content-center">
              <div class="col-3">
                <button
                  class="btn btn-outline-secondary w-100"
                  type="button"
                  (click)="close()"
                >
                  Cancel
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary text-white w-100" type="submit">
                  {{ productId ? "Update" : "Create" }}
                  Product
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
