<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <div class="d-flex align-items-center gap-2">
        <a class="btn btn-secondary" [routerLink]="['../../']"> Back</a>

        <h4>Manage Products</h4>
      </div>
      <hr class="border-primary" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Order details</div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12">
              <div class="row">
                <div class="col-4">
                  <label for="" class="text-primary me-3">Order No:</label>
                  <span>{{ orderDetail()?.orderNo || "-" }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">Order Date:</label>
                  <span>{{
                    (orderDetail()?.dateAndTime | date : "short") || "-"
                  }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">P.Code:</label>
                  <span>{{ orderDetail()?.pCode || "-" }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">Party Name:</label>
                  <span>{{ orderDetail()?.partyName || "-" }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">City:</label>
                  <span>{{ orderDetail()?.city || "-" }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">Delivery Mode:</label>
                  <span>{{ orderDetail()?.deliveryMode || "-" }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">Order By:</label>
                  <span>{{ orderDetail()?.orderBy || "-" }}</span>
                </div>
                <div class="col-4">
                  <label for="" class="text-primary me-3">Status:</label>
                  <span>{{ orderDetail()?.status || "-" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h5>Products</h5>
        <button
          type="button"
          class="btn btn-primary text-white"
          (click)="addProducts()"
        >
          Add Products
        </button>
      </div>
      <hr class="border-primary" />
      <app-common-list
        [columnDef]="columnDef"
        [columnData]="orderDetail()?.products"
      ></app-common-list>
      <div class="row">
        <div class="col-8 text-end">Amount</div>
        <div class="col-2 text-center">
          {{ amount() || 0 | currency : currency }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #actionItem let-value="rowData">
  <button
    class="btn btn-sm btn-outline-danger me-2"
    (click)="deleteProduct(value.id)"
  >
    Delete
  </button>
  <button class="btn btn-sm btn-outline-danger" (click)="editProduct(value.id)">
    Edit
  </button>
</ng-template>

<ng-template #priceFormate let-value="rowData" let-columnDef="columnDef">
  {{ value[columnDef.labelKey] | currency : currency }}
</ng-template>
